@page
@model CreateModel

@{
    ViewData["Title"] = "Bill";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var date = @DateTime.Now.TimeOfDay;
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />

<form class="needs-validation center" novalidate>
    <div class="container-fluid">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row gy-2 gx-3 align-items-center">
            <div class="col-6 col-md-2 mb-2">
                <label asp-for="AR_Bill.Type" class="control-label"></label>
                @Html.DropDownListFor(model => model.combo_Boxes.Bill_Types, Model.combo_Boxes.ComboBox_Bill_Types, "--Select One--")
                <span asp-validation-for="AR_Bill.Type" class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-2">
                <label asp-for="AR_Bill.Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.combo_Boxes.Bill_Statuses, Model.combo_Boxes.ComboBox_Bill_Statuses, "--Select One--")
                <span asp-validation-for="AR_Bill.Status" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-row gy-2 gx-3 align-items-center">
            <div class="col-6 col-md-2 mb-2">
                <label asp-for="AR_Bill.Date" class="control-label"></label>
                <input asp-for="AR_Bill.Date" class="form-control" placeholder="" required />
                <span asp-validation-for="AR_Bill.Date" class="text-danger"></span>
                <div class="valid-feedback">Looks good!</div>
            </div>
             <div class="col-md-2 mb-2">
                <label asp-for="AR_Bill.LastModifiedDateTime" class="control-label"></label>
                <input asp-for="AR_Bill.LastModifiedDateTime" class="form-control" placeholder="" value=date required/>
                <span asp-validation-for="AR_Bill.LastModifiedDateTime" class="text-danger"></span>
                <div class="invalid-feedback">Please choose a username.</div>
            </div>
        </div>

        <div class="form-row gy-2 gx-3 align-items-center">
            <div class="col-md-2 mb-3">
                <label asp-for="AR_Bill.ReferenceNbr" class="form-label"></label>
                <input readonly asp-for="AR_Bill.ReferenceNbr" class="form-control" placeholder="" value="<NEW>" />
                <span asp-validation-for="AR_Bill.ReferenceNbr" class="text-danger"></span>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="AR_Bill.Description" class="control-label"></label>
                <input asp-for="AR_Bill.Description" class="form-control" placeholder=""/>
                <span asp-validation-for="AR_Bill.Description" class="text-danger"></span>
                <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
        </div>
        <div class="form-row gy-2 gx-3 align-items-center">
            <div class="col-md-2 mb-3">
                <label asp-for="AR_Bill.VendorRef" class="control-label"></label>
                <input asp-for="AR_Bill.VendorRef" class="form-control" placeholder="" required />
                <span asp-validation-for="AR_Bill.VendorRef" class="text-danger"></span>
                <div class="invalid-feedback">Please provide a valid vendor reference number.</div>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="AR_Bill.Vendor" class="control-label"></label>
                <input asp-for="AR_Bill.Vendor" class="form-control" placeholder="" required/>
                <span asp-validation-for="AR_Bill.Vendor" class="text-danger"></span>
                <div class="invalid-feedback">Please provide a valid name.</div>
            </div>
        </div>

        <div class="form-row gy-2 gx-3 align-items-center">
            <div class="col-md-1 mb-3">
                <label asp-for="AR_Bill.CurrencyID" class="control-label"></label>
                <input asp-for="AR_Bill.CurrencyID" class="form-control" placeholder="" value="USD" />
                <span asp-validation-for="AR_Bill.CurrencyID" class="text-danger"></span>
                <div class="invalid-feedback">Please provide a valid vendor reference number.</div>
            </div>
            <div class="col-md-2 mb-3">
                <label asp-for="AR_Bill.Amount" class="control-label"></label>
                <input asp-for="AR_Bill.Amount" class="form-control" placeholder="" />
                <span asp-validation-for="AR_Bill.Amount" class="text-danger"></span>
                <div class="invalid-feedback">Please provide a valid name.</div>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="AR_Bill.PostPeriod" class="control-label"></label>
                <input asp-for="AR_Bill.PostPeriod" class="form-control" placeholder="" />
                <span asp-validation-for="AR_Bill.PostPeriod" class="text-danger"></span>
                <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
        </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
          <div class="invalid-feedback">You must agree before submitting.</div>
        </div>
      </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" /><a asp-page="Index"> | Back to List</a><a href="Test"> | Test</a>
        </div>
    </div>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
