@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.SalesOrders.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="p-2"></div>
<h1>Edit</h1>

<h4>s
   SalesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="so.Id" />
            <div class="form-group">
                <label asp-for="so.OrderType" class="control-label"></label>
                <input asp-for="so.OrderType" class="form-control" />
                <span asp-validation-for="so.OrderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.OrderNbr" class="control-label"></label>
                <input asp-for="so.OrderNbr" class="form-control" />
                <span asp-validation-for="so.OrderNbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.Status" class="control-label"></label>
                <input asp-for="so.Status" class="form-control" />
                <span asp-validation-for="so.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.Date" class="control-label"></label>
                <input asp-for="so.Date" class="form-control" />
                <span asp-validation-for="so.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.CustomerID" class="control-label"></label>
                <input asp-for="so.CustomerID" class="form-control" />
                <span asp-validation-for="so.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.CustomerName" class="control-label"></label>
                <input asp-for="so.CustomerName" class="form-control" />
                <span asp-validation-for="so.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.OrderedQty" class="control-label"></label>
                <input asp-for="so.OrderedQty" class="form-control" />
                <span asp-validation-for="so.OrderedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.OrderTotal" class="control-label"></label>
                <input asp-for="so.OrderTotal" class="form-control" />
                <span asp-validation-for="so.OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.CurrencyID" class="control-label"></label>
                <input asp-for="so.CurrencyID" class="form-control" />
                <span asp-validation-for="so.CurrencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.ShipmentDate" class="control-label"></label>
                <input asp-for="so.ShipmentDate" class="form-control" />
                <span asp-validation-for="so.ShipmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so.LastModified" class="control-label"></label>
                <input asp-for="so.LastModified" class="form-control" />
                <span asp-validation-for="so.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
