@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.Address.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Addr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Addr.Id" />
            <div class="form-group">
                <label asp-for="Addr.AddressLine1" class="control-label"></label>
                <input asp-for="Addr.AddressLine1" class="form-control" />
                <span asp-validation-for="Addr.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addr.AddressLine2" class="control-label"></label>
                <input asp-for="Addr.AddressLine2" class="form-control" />
                <span asp-validation-for="Addr.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addr.City" class="control-label"></label>
                <input asp-for="Addr.City" class="form-control" />
                <span asp-validation-for="Addr.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addr.Country" class="control-label"></label>
                <input asp-for="Addr.Country" class="form-control" />
                <span asp-validation-for="Addr.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addr.PostalCode" class="control-label"></label>
                <input asp-for="Addr.PostalCode" class="form-control" />
                <span asp-validation-for="Addr.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addr.State" class="control-label"></label>
                <input asp-for="Addr.State" class="form-control" />
                <span asp-validation-for="Addr.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
