@page
@model CreateModel

@{
    ViewData["Title"] = "Shipment";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var date = @DateTime.Now.TimeOfDay;
}

<h1>Create</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SP.Type" class="control-label"></label>
                @Html.DropDownListFor(model => model.combo_Boxes.Shipment_Statuses, Model.combo_Boxes.ComboBox_Shipment_Statuses, "--Select One--")
                <span asp-validation-for="SP.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.ShipmentNbr" class="control-label"></label>
                <input asp-for="SP.ShipmentNbr" class="form-control" value="<NEW>" readonly />
                <span asp-validation-for="SP.ShipmentNbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.combo_Boxes.Shipment_Types, Model.combo_Boxes.ComboBox_Shipment_Types, "--Select One--")
                <span asp-validation-for="SP.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.ShipmentDate" class="control-label"></label>
                <input asp-for="SP.ShipmentDate" class="form-control" value=date />
                <span asp-validation-for="SP.ShipmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.CustomerID" class="control-label"></label>
                <input asp-for="SP.CustomerID" class="form-control" />
                <span asp-validation-for="SP.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.CustomerName" class="control-label"></label>
                <input asp-for="SP.CustomerName" class="form-control" />
                <span asp-validation-for="SP.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.WarehouseID" class="control-label"></label>
                <input asp-for="SP.WarehouseID" class="form-control" />
                <span asp-validation-for="SP.WarehouseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.ShippedQty" class="control-label"></label>
                <input asp-for="SP.ShippedQty" class="form-control" required />
                <span asp-validation-for="SP.ShippedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.ShippedWeight" class="control-label"></label>
                <input asp-for="SP.ShippedWeight" class="form-control" />
                <span asp-validation-for="SP.ShippedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.CreatedDateTime" class="control-label"></label>
                <input asp-for="SP.CreatedDateTime" class="form-control" value=date required />
                <span asp-validation-for="SP.CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SP.LastModifiedDateTime" class="control-label"></label>
                <input asp-for="SP.LastModifiedDateTime" class="form-control" value=date required />
                <span asp-validation-for="SP.LastModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /><a asp-page="Index"> | Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
