@page
@model RevisionTwo_App.Pages.TermsModel
@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's terms and conditions.</p>
<a asp-page="/Index">Go Back</a>