@page
@model AboutModel
@{
    ViewData["Title"] = "About Revision Two";
}

<div class="container-fluid p-4" style="height:23rem;">
    <div class="card h-100 shadow" id="mycard">
        <img class="card-img" id="mybanner" src="~/images/bg_homepage.jpg"  style="height:23em"/> 
        <div class="card-img-overlay">
            <div class="card-body mb-2">
                <h2 class="card-title">@ViewData["Title"]</h2><br/>
                <h4>Key Statistics</h4>
                    <ul class="card-text">
                        <li>Founded: January @Model.DisplayStartYear</li>
                        <li>Employees: ~ @Model.DisplayNumOfEmployees</li>
                        <li>Revenue: ~$ @Model.DisplayTotalRevenue M annually</li>
                    </ul>
            </div>  
            <div class="card-footer bg-transparent border-0">
                <p><a class="btn btn-primary" asp-area="" asp-page="/Index"><i class="bi bi-arrow-return-left"></i></a></p>
            </div>
        </div>   
    </div>   
</div>

<br/><hr />
<div class="container-fluid p-4 mb-2">
    <p class="card-text text-wrap"><b>Revision Two</b> is a fictional company used to demonstrate Acumatica Cloud ERP OpenAPI capabilities. 
        The company has multiple lines of business, a few branches, a European based entity, 
        and several employee personas to demonstrate the full capabilities of Acumatica Cloud ERP.</p>
</div>

<div class="container-fluid p-3 mb-5">
    <h5>Acumatica Cloud ERP Demo Data</h5>
    <p class="text-wrap">
        RevisionTwo ERP data is maintained on the <a href="https://sso.acumatica.com/(W(1))/Main?ScreenId=SL000006&PageID=958c3fe4-555c-4883-a849-b2e34c3f85d0" target="_blank">Acumatica Partner Portal.   
            </a>You must be an authorized partner to access this site.
    </p>
    <p class="text-wrap">
        The demo data is updated monthly using SnapShots so you always current data to demonstrate. 
        As new upgrades (R1 & R2) are released, the snapshot will be updated so you can restore the demo data into that latest version of Acumatica ERP 
        that is available for download on the partner portal.
    </p>
</div>
