@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.Contact.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Contact_App</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact_App.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contact_App.Active" /> @Html.DisplayNameFor(model => model.Contact_App.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.ContactID" class="control-label"></label>
                <input asp-for="Contact_App.ContactID" class="form-control" />
                <span asp-validation-for="Contact_App.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.DisplayName" class="control-label"></label>
                <input asp-for="Contact_App.DisplayName" class="form-control" />
                <span asp-validation-for="Contact_App.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.BusinessAccount" class="control-label"></label>
                <input asp-for="Contact_App.BusinessAccount" class="form-control" />
                <span asp-validation-for="Contact_App.BusinessAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.JobTitle" class="control-label"></label>
                <input asp-for="Contact_App.JobTitle" class="form-control" />
                <span asp-validation-for="Contact_App.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.Owner" class="control-label"></label>
                <input asp-for="Contact_App.Owner" class="form-control" />
                <span asp-validation-for="Contact_App.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.CompanyName" class="control-label"></label>
                <input asp-for="Contact_App.CompanyName" class="form-control" />
                <span asp-validation-for="Contact_App.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.ContactClass" class="control-label"></label>
                <input asp-for="Contact_App.ContactClass" class="form-control" />
                <span asp-validation-for="Contact_App.ContactClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.Email" class="control-label"></label>
                <input asp-for="Contact_App.Email" class="form-control" />
                <span asp-validation-for="Contact_App.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.Phone1" class="control-label"></label>
                <input asp-for="Contact_App.Phone1" class="form-control" />
                <span asp-validation-for="Contact_App.Phone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_App.LastModifiedDateTime" class="control-label"></label>
                <input asp-for="Contact_App.LastModifiedDateTime" class="form-control" />
                <span asp-validation-for="Contact_App.LastModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
