@page
@model RevisionTwo_App.Areas.Demo.Pages.Credentials.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Credentials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Credentials.IsChecked" /> @Html.DisplayNameFor(model => model.Credentials.IsChecked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.SiteUrl" class="control-label"></label>
                <input asp-for="Credentials.SiteUrl" class="form-control" />
                <span asp-validation-for="Credentials.SiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.UserName" class="control-label"></label>
                <input asp-for="Credentials.UserName" class="form-control" />
                <span asp-validation-for="Credentials.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.Password" class="control-label"></label>
                <input asp-for="Credentials.Password" class="form-control" />
                <span asp-validation-for="Credentials.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.Tenant" class="control-label"></label>
                <input asp-for="Credentials.Tenant" class="form-control" />
                <span asp-validation-for="Credentials.Tenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.Branch" class="control-label"></label>
                <input asp-for="Credentials.Branch" class="form-control" />
                <span asp-validation-for="Credentials.Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials.Locale" class="control-label"></label>
                <input asp-for="Credentials.Locale" class="form-control" />
                <span asp-validation-for="Credentials.Locale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
