@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Credential</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Credential.IsChecked" /> @Html.DisplayNameFor(model => model.Credential.IsChecked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Credential.SiteUrl" class="control-label"></label>
                <input asp-for="Credential.SiteUrl" class="form-control" />
                <span asp-validation-for="Credential.SiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.UserName" class="control-label"></label>
                <input asp-for="Credential.UserName" class="form-control" />
                <span asp-validation-for="Credential.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.Password" class="control-label"></label>
                <input asp-for="Credential.Password" class="form-control" />
                <span asp-validation-for="Credential.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.Tenant" class="control-label"></label>
                <input asp-for="Credential.Tenant" class="form-control" />
                <span asp-validation-for="Credential.Tenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.Branch" class="control-label"></label>
                <input asp-for="Credential.Branch" class="form-control" />
                <span asp-validation-for="Credential.Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.Locale" class="control-label"></label>
                <input asp-for="Credential.Locale" class="form-control" />
                <span asp-validation-for="Credential.Locale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
